.list {
  font-weight: bold;
}

.list.active {
  color: red;
}

.post-link {
  font-weight: bold;
  font-size: 20px;
  padding: 0;
  margin: 10px 0;
  cursor: pointer;
  display: block;
}

.post-link:hover {
  color: orange;
}
